/* COMMONS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container{
    display: flex;
    justify-content: center;
}

/* HEADER */

.head-bar {
    background-color: orangered;
    width: 100%; 
    position: fixed;
    top:0;
    z-index: 9;
}

.head-container{ 
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.boolean-logo{
    height: 30px;
    width: 140px;
    margin-right: 50px;
}

.buttons{
    padding: 15px 0px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

.buttons:hover{
    text-decoration: underline;
}

.head-icons{
    color: #fff;
}

.fa-user {
    padding-left: 5px;
}

.head-icons .fa-heart{
    padding-left: 5px;
}

 .fa-bag-shopping {
    padding-left: 5px;
 }


/* MAIN */
.main-container {
    margin:  auto;
    margin-top: 106px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    /* border: #111111 dotted 2px; */
}

.top-container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* border: #111111 dotted 2px; */
    padding-bottom: 50px;
    
}

.bot-container{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: #111111 dotted 2px; */
    padding-bottom: 50px;
 
}

.cards{
    position: relative;
    /* border: #111111 dotted 2px; */
    
}


.foto-a {
    height: 590px;
    /* border: #111111 dotted 2px; */
    margin-right: 10px;
     
}

.discount {
    background-color: red;
    color: #fff;
    position: absolute;
    bottom: 120px;
    left: 0;
    padding: 5px;
    font-size: 16px;
    z-index: 1;
}

.sustain {
    background-color: green;
    color: #fff;
    position: absolute;
    bottom: 120px;
    left: 50px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    z-index: 1;
}

.left-margin-sus{
    position: absolute;
    left:0;   
}

.black-heart{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    position:absolute;
    right:10px;
    top:10px;
    font-size: 30px;
}

.red-heart{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    position: absolute;
    right:10px;
    top:10px;
    font-size: 30px;
    color: red;
    display: none;
}

.black-heart:hover + .red-heart{
    display: block;
    cursor: pointer;
}

.foto-b {
    /* width: 390px; */
    height: 590px;
    position: absolute;
    top:0;
    left:0;
    margin-right: 10px;
    display: none;
}

.foto-a:hover + .foto-b{
    display: block;
}

.price{
    color: red;
    font-weight: bold;
}

.price-cut{
    color: black;
    text-decoration: line-through;
    font-weight: lighter;
}



/* FOOTER */
.footer-bar{
    background-color: #111111;
    color:#fff;
}

.footer-container{
    width: 80%;
    margin:0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.fa-brands{
    padding-left: 10px;
    margin-bottom: 10px;
}

.footer-text{
    padding:15px 0px;
    font-size: 14px;
}

.footer-boolean{
    text-align: start;
    padding-top: 15px;
}



