/* COMMONS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container{
    display: flex;
    justify-content: center;
}

/* HEADER */

.head-bar {
    background-color: orangered;
    width: 100%; 
    position: fixed;
    top:0
}

.head-container{ 
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.boolean-logo{
    height: 30px;
    width: 140px;
    margin-right: 50px;
}

.buttons{
    padding: 15px 0px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

.buttons:hover{
    text-decoration: underline;
}

.icons{
    color: #fff;
}

/* MAIN */

.main-container-top{
    margin: 0 auto;
    margin-top: 106px;
    width: 80%;
    flex-wrap: wrap; 
}

.main-container-bot {
    margin: 0 auto;
    margin-top: 106px;
    width: 80%;
    flex-wrap: wrap;
}

img{
    width: calc(80% / 3 - 20px);
}